/* HTML elements */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Changes all heading familes */
h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat-bold', sans-serif;
}

p {
  color:#8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat-bolder', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}


/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Nagivation Bar */

.narbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom:4%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: light;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Section */
/* #title {
  text-align: left;
} */

/* Refectoring code, can combind #title and container together */
#title.container-fluid {
  padding:3% 15% 7%;
  text-align: left;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  /* Stacking placement to have image inback of features */
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  /* Stacking placement to be infront of image */
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testiomonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Sections */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;

}


/* Carousel Section */

/* .carousel-item {
  /* Makes buttons/arrows on carousel further out placed
  padding: 7% 15%;
} */


/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col{
  padding: 3% 2%;
}

.button-free:hover{
  color: #fff;
}

/* Makes it look good on tablet and mobile and desktop and laptop screen sizes. Code only gets carried out when is true for jquery */
@media(max-width:1028px) {

  #title {
    /* Center align text when screen this small */
    text-align: center;
  }
  .title-image {
    /* When go down to smaller sizes, the image goes back to static size, back to flow with html */
    position: static;
    /* Rotate image back to being straight up rather than crooked */
    transform:rotate(0);
  }
}


/* Call to Action Section */

/* #cta {
  background-color: #ff4c68;
  color: #fff;
} */

/* Footer Section */

/* #footer {
  padding:7% 15%;

} */

.footer-icon {
  margin: 20px 10px;
}
